In [6]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2020-05-08 22:53:50,-33.93,18.42,63.00,88,0,10.29
1,1,Qaanaaq,GL,2020-05-08 22:54:05,77.48,-69.36,11.97,83,28,6.51
2,2,Namibe,AO,2020-05-08 22:54:24,-15.20,12.15,80.64,49,0,3.02
3,3,Arraial Do Cabo,BR,2020-05-08 22:54:04,-22.97,-42.03,71.56,60,33,8.70
4,4,Iqaluit,CA,2020-05-08 22:53:59,63.75,-68.51,33.80,50,75,12.75

In [8]:
# Get the data Types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Namibe,AO,2020-05-08 22:54:24,-15.20,12.15,80.64,49,0,3.02
7,7,Cienfuegos,CU,2020-05-08 23:02:16,22.15,-80.44,87.80,55,89,13.87
9,9,Rikitea,PF,2020-05-08 22:49:50,-23.12,-134.97,75.90,69,25,4.52
15,15,Hilo,US,2020-05-08 22:50:26,19.73,-155.09,84.20,54,20,9.17
17,17,Puerto Colombia,CO,2020-05-08 23:02:17,10.99,-74.95,86.00,74,75,10.29
26,26,Kapaa,US,2020-05-08 22:53:49,22.08,-159.32,77.00,65,75,17.22
30,30,Hithadhoo,MV,2020-05-08 22:53:57,-0.60,73.08,84.74,78,84,16.89
33,33,Sao Raimundo Nonato,BR,2020-05-08 22:59:00,-9.02,-42.70,77.74,72,100,1.48
36,36,Salinopolis,BR,2020-05-08 23:02:19,-0.61,-47.36,79.47,88,99,8.48
37,37,Luanda,AO,2020-05-08 22:57:24,-8.84,13.23,80.60,88,75,4.36

In [21]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64