In [131]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
import numpy as np
# Import the API key.
from config import g_key

In [132]:
# Store the CSV you saved created in part two into a DataFrame.
itinerary_data_df = pd.read_csv("weather_data/WeatherPy_vacation.csv")
itinerary_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Manado,ID,77.00,scattered clouds,1.49,124.85,NaN
1,5,Atuona,PF,81.18,light rain,-9.80,-139.03,NaN
2,6,Georgetown,MY,78.80,scattered clouds,5.41,100.34,NaN
3,11,Puerto Ayora,EC,86.00,few clouds,-0.74,-90.35,NaN
4,14,Victoria,HK,81.00,broken clouds,22.29,114.16,NaN

In [133]:
# Create DataFrame for 4 cities.
shasta_lake_df = itinerary_data_df[(itinerary_data_df['City'] == 'Shasta Lake')]
shasta_lake_df.reset_index
shasta_lake_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
74,267,Shasta Lake,US,82.99,overcast clouds,40.68,-122.37,NaN

In [134]:
butte_df = itinerary_data_df[(itinerary_data_df['City'] == 'Butte')]
butte_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
88,319,Butte,US,81.0,clear sky,39.65,-121.57,NaN

In [135]:
san_jose_df = itinerary_data_df[(itinerary_data_df['City'] == 'San Jose')]
san_jose_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
73,259,San Jose,US,75.99,broken clouds,37.34,-121.89,NaN

In [136]:
la_palma_df = itinerary_data_df[(itinerary_data_df['City'] == 'La Palma')]
la_palma_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
96,342,La Palma,US,78.01,scattered clouds,33.85,-118.05,NaN

In [137]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [138]:
shasta_lake = shasta_lake_df.reset_index()[["Lat", "Lng"]].values.tolist()
butte = butte_df[["Lat", "Lng"]].apply(tuple, axis=1)
san_jose = san_jose_df[["Lat", "Lng"]].apply(tuple, axis=1)
la_palma = la_palma_df.reset_index()[["Lat", "Lng"]].values.tolist()

In [139]:
shasta_lake = (40.68, -122.37)
butte = (39.65, -121.57)
san_jose = (37.34, -121.89)
la_palma = (33.85, -118.05)

In [140]:
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
directions_layer = gmaps.directions_layer(shasta_lake, la_palma, waypoints=[butte, san_jose])
# Add the heatmap layer.
fig.add_layer(directions_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [142]:
frames = [shasta_lake_df, butte_df, san_jose_df, la_palma_df]
itinerary_df = pd.concat(frames)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
74,267,Shasta Lake,US,82.99,overcast clouds,40.68,-122.37,NaN
88,319,Butte,US,81.00,clear sky,39.65,-121.57,NaN
73,259,San Jose,US,75.99,broken clouds,37.34,-121.89,NaN
96,342,La Palma,US,78.01,scattered clouds,33.85,-118.05,NaN

In [143]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [144]:
# Add a pop-up marker for each city.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))