In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
vacation_data_df = pd.read_csv("weather_data/WeatherPy_challenge.csv")
vacation_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches,Snow inches
0,0,Busselton,AU,2020-05-10 20:08:31,-33.65,115.33,48.00,72,85,2.13,overcast clouds,0,0
1,1,Saint-Augustin,CA,2020-05-10 20:09:33,51.23,-58.65,34.18,91,100,12.17,overcast clouds,0,0
2,2,Manado,ID,2020-05-10 20:08:38,1.49,124.85,77.00,94,40,2.24,scattered clouds,0,0
3,3,Longkou,CN,2020-05-10 20:09:33,37.65,120.33,58.26,58,22,5.50,few clouds,0,0
4,4,Hasaki,JP,2020-05-10 20:09:33,35.73,140.83,69.80,94,75,3.36,broken clouds,0,0

In [53]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
raining = input("Do you want it to be raining? (yes/no) ")
snowing = input("Do you want it to be snowing? (yes/no) ")

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [54]:
if (raining == "no") & (snowing == "no"):
        preferred_cities_df = vacation_data_df.loc[(vacation_data_df["Max Temp"] <= max_temp) & \
                        (vacation_data_df["Max Temp"] >= min_temp) & \
                        (vacation_data_df["Rain inches"] == 0) & \
                        (vacation_data_df["Snow inches"] == 0)]
elif (raining == "no") & (snowing == "yes"):
        preferred_cities_df = vacation_data_df.loc[(vacation_data_df["Max Temp"] <= max_temp) & \
                        (vacation_data_df["Max Temp"] >= min_temp) & \
                        (vacation_data_df["Rain inches"] == 0) & \
                        (vacation_data_df["Snow inches"] > 0)]                                
elif (raining == "yes") & (snowing == "no"):
        preferred_cities_df = vacation_data_df.loc[(vacation_data_df["Max Temp"] <= max_temp) & \
                        (vacation_data_df["Max Temp"] >= min_temp) & \
                        (vacation_data_df["Rain inches"] > 0) & \
                        (vacation_data_df["Snow inches"] == 0)]
else:
        preferred_cities_df = vacation_data_df.loc[(vacation_data_df["Max Temp"] <= max_temp) & \
                        (vacation_data_df["Max Temp"] >= min_temp) & \
                        (vacation_data_df["Rain inches"] > 0) & \
                        (vacation_data_df["Snow inches"] > 0)]                                           
                        
                                  
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain inches,Snow inches
2,2,Manado,ID,2020-05-10 20:08:38,1.49,124.85,77.00,94,40,2.24,scattered clouds,0,0
5,5,Atuona,PF,2020-05-10 20:05:14,-9.80,-139.03,81.18,79,12,16.71,light rain,0,0
6,6,Georgetown,MY,2020-05-10 20:07:11,5.41,100.34,78.80,94,40,4.70,scattered clouds,0,0
11,11,Puerto Ayora,EC,2020-05-10 20:08:30,-0.74,-90.35,86.00,66,20,14.99,few clouds,0,0
14,14,Victoria,HK,2020-05-10 20:07:31,22.29,114.16,81.00,78,73,4.00,broken clouds,0,0
18,18,Padang,ID,2020-05-10 20:06:10,-0.95,100.35,78.53,79,100,3.04,overcast clouds,0,0
22,22,Butaritari,KI,2020-05-10 20:08:34,3.07,172.79,83.16,77,17,8.52,few clouds,0,0
26,26,Eydhafushi,MV,2020-05-10 20:09:35,5.10,73.07,85.01,77,99,9.91,moderate rain,0,0
34,34,Kapaa,US,2020-05-10 20:09:36,22.08,-159.32,75.99,69,90,12.75,overcast clouds,0,0
35,35,Touros,BR,2020-05-10 20:09:36,-5.20,-35.46,84.20,74,40,10.29,scattered clouds,0,0

In [55]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Manado,ID,77.00,scattered clouds,1.49,124.85,
5,Atuona,PF,81.18,light rain,-9.80,-139.03,
6,Georgetown,MY,78.80,scattered clouds,5.41,100.34,
11,Puerto Ayora,EC,86.00,few clouds,-0.74,-90.35,
14,Victoria,HK,81.00,broken clouds,22.29,114.16,
18,Padang,ID,78.53,overcast clouds,-0.95,100.35,
22,Butaritari,KI,83.16,few clouds,3.07,172.79,
26,Eydhafushi,MV,85.01,moderate rain,5.10,73.07,
34,Kapaa,US,75.99,overcast clouds,22.08,-159.32,
35,Touros,BR,84.20,scattered clouds,-5.20,-35.46,

In [73]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [74]:
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Manado,ID,77.00,scattered clouds,1.49,124.85,
5,Atuona,PF,81.18,light rain,-9.80,-139.03,
6,Georgetown,MY,78.80,scattered clouds,5.41,100.34,
11,Puerto Ayora,EC,86.00,few clouds,-0.74,-90.35,
14,Victoria,HK,81.00,broken clouds,22.29,114.16,
...,...,...,...,...,...,...,...
539,Vallenar,CL,79.65,clear sky,-28.57,-70.76,
542,Dwarka,IN,81.41,clear sky,22.24,68.97,
545,Hobyo,SO,84.72,broken clouds,5.35,48.53,
547,Paciran,ID,79.32,light rain,-6.88,112.38,
550,Jalu,LY,77.47,clear sky,29.03,21.55,Jalu Hotel

In [75]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [76]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [78]:
# Add a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))